<!doctype html>
<html>
<head>
<title>Hoo</title>
<link rel="stylesheet" type="text/css" href="/home/rmicro/myPython/myseunPython/mystatic/style.css">
</head>
<!--

<link href="foo.css" media="all" rel="stylesheet"  type="text/css">

Stylesheet link should go inside "head"

-->

<body>
<div id="pagewrap">
<div id = "header">
<div id="my-title"><h3><blockquote><span class="T_before_o">M</span>aamariga</blockquote></h3><p id="tdsgin">A review site with a difference</p></div>
<div id="llogin">
<form id="login">
<label>
<strong class="email-label">Email</strong> <input type="text" name="Email" id="Email" size="7"  value="" >  
</label>
<label>
<strong class="passwd-label">Password</strong><input type="password" name="Passwd" size="7" id="Passwd">    
</label>
<input type="submit" class="g-button g-button-submit" name="signIn" id="signIn" value="Sign in" background-color="yellow" size="5">
</form>
<div><a href ="/hoo">Can't access your account?</a></div>  
</div>
</div>
<div id = "left">left
</div>
<div id = "center">center
</div>
<div id = "right">
<!-- <div id="rregister"> */ -->
<div id="right-up">
<form id="register">
<fieldset>
<legend>Please create an account here</legend>
<div class="form_row">
<label   id="spec"   for="screen_name">Username:</label>
<input type="text" name="Username" id="Username"   value="" size="12">  
</div>
<div class="form_row">
<label  id="spec" for="email">Email:</label>
<input type="text" name="Email" id="Email"   value=""  size="12">  
</div> 
<div class="form_row">
<label  id="spec" for="password">Password:</label>
<input type="password" name="Passwd"  id="Passwd" size="12">    
</div> 
<div class="form_row">
<label   id="spec"   for="password">Comfirm Password:</label>
<input type="password" name="Compasswd"  id="Passwd" size="12">    
</div> 
<div class="form_row">
<input type="submit" class="gsubmit" name="signIn" id="signIn" value="Register Now!" background="yellow">
</div>
</fieldset>
</form>
</div>
<div id="right-down">
<h3>Most recent reviews<h3>
<ul>
   <li>The world of games without fire:by juke</li>
      <li>The home of games without fire:by puke</li>
      <li>The hill of games without fire:by fuke</li>
      <li>The citycenter of games without fire:by ruke</li>
      <li>The new jersey without newness of games without fire:by jmuke</li>
      <li>Boon chagger man, by oggo </li>
       <li>Coon chagger man, by moggo </li>
        <li>Xoon Whagger man, by figo </li>
	<li> Voil of goodies, by hoop<li>
	<li>Saints and Sinners, by hu<li>
	</ul>     
ifferential Equations are the language in which the laws of nature are expressed. 
Understanding properties of solutions of differential equations is fundamental to much of contemporary science and engineering. 
Ordinary differential equations (ODEs) deal with functions of one variable, which can often be thought of as time. 
Topics include: Solution of first-order ODE's by analytical, graphical and numerical methods; Linear ODE's, especially second order with constant coefficients;
Undetermined coefficients and variation of parameters; Sinusoidal and exponential signals: oscillations, damping, resonance; 
Complex numbers and exponentials; Fourier series, periodic solutions; Delta functions, convolution, and Laplace transform methods;
Matrix and first order linear systems: eigenvalues and eigenvectors; and Non-linear autonomous systems: critical point analysis and phase plane diagrams.
</div>

</div>
<div id = "footer">footer
<div id = "foot-contact">
<ul>
    <li><a class="foot-link" href="/contact">Contact</a></li>
    <li><a class="foot-link" href="/blog">Official Blog</a></li>
   <li><a class="foot-link" href="/partner">Partner</a></li>
   </ul>
</div>
<div id="foot-copyright">
  <p>Sponsored by Seun of NairaLand fame</p>
  <p>A product of Satajanus Nig. Limited</p>
  <p>Powered by bottle</p>
  <p>&nsb, 2011</p>
  </div>
  <div id = "foot-popular">
  <ul>
    <li><a class="foot-link" href="/nairaland">Nairaland</a></li>
    <li><a class="foot-link" href="/guardiannewsngr">Guardiannews</a></li>
   <li><a class="foot-link" href="/others">Others</a></li>
   </ul>
   </div>
<div id = "blog">
</div>
</div>
</div>
</body>
</html>



