* {padding:0;margin:0;}
html, body {padding:0;margin:0;font-size:11px;color:#37354a;font-family:Arial;background:#CCC;color:#000;height: 100%;}
div, ul, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, span, img, input {padding:0;margin:0;list-style:none;}

#header {
width:1025px;
background-color:#DE4;
height:100px;
margin-right:6px;
margin-left:6px;
padding-top:10px;
padding-left:5px;

}

#content { height: 25px;
            	background-color:#DE4; 
				width:1025px; 
				margin-right:6px;
				margin-left:6px;
				padding-left:5px;
				}


a { color: red; font-size: 12px; text-decoration: none; }
a:hover { color: blue; text-decoration: underline; }

#nav li {
list-style-type: none;
float: left;
margin-left: 10px;
}
#nav li a {
padding: 2px 10px;
border: solid 1px black;
margin-bottom: 2px;
}
#nav li a:hover {
background-color: orange;
}
#nav li  form input { 
margin-right: 0px; 
margin-left: 0px;
height: 23px;
margin-bottom: 2px;
margin-top: 0px;
}

	
html fieldset {
       position: relative;
       margin-top: 10px;}
	   
html legend {
      position: absolute;
      top: -1.6em;
      left: 0.5em;
      }
fieldset {
background: #ddd;
}

legend {
    color: white;
    background: maroon;
    padding: 0.4em 1em;
    }
    
label#spec {
         width: 10em;
float: left;
text-align: right;
margin-right: 0.2em;
display: block;
}
.form_row {
        white-space: nowrap;
padding-bottom: 0.5em;
}
.submit {
       margin-left: 15em;
       }
#left {

/*position:absolute;*/
float:left;
width:240px;
background-color:#DE4;
margin-left:6px;


}
#center {
/*position:absolute; */
float:left;
width:590px;
background-color:98FB98;
/*margin-left:246px; */
}
#postsubmit {
	width: 70px;
	height: 30px;
	margin-top: 5px;
	background-color: red;
	 border-radius: 3px; 
-moz-border-radius: 3px; 
}
#right {
float:left;
width:200px;
background-color:98FB98;
/*margin-left:746px;
margin-right:0px;*/

}
div#my-title { float: left; 
              text-transform: uppercase;
              margin-bottom:1px;
     color: #CCC; 
     margin-top: 1px;
            text-shadow:0px -1px 0px rgba(000,000,000,0.4), 0px 1px 0px rgba(255,255,255,0.3);
 }
#left, #center, #right {padding-bottom: 10000px; margin-bottom: -9900px;}
div#llogin{ 
float: right; 
margin-right: 2px; 
height : 45px;
    background: -moz-linear-gradient(top, #DE4 0%, #DE4123);
    background: -webkit-gradient(linear, left top, left bottom, from(#DE4),to(#DB3945));
 border-radius: 8px; 
-moz-border-radius: 8px; 
box-shadow: #666 5px 5px 5px; 
-moz-box-shadow: #666 5px 5px 5px; 
-webkit-box-shadow: #666 5px 5px 5px; 
}
#my-titled{ float:left; margin-left: 4px;}
#footer {
clear: both;
position: relative;
width:1030px;
background-color:#CCC;
/*height:100px;
margin-right:0px;*/
margin-left:6px;
padding-top:2px;
min-height: 100px;
}
#right-up {
	margin-top:0px;
	padding-top:5px;
	font-size: 10px;
	background: #BDC;
      }
p { margin:2px;padding:1.5px}
div.span {display: block; margin-top:20px; float:left;}
h3{margin-bottom:0px;margin-top:0px}
#htext{ margin-left:20px;margin-top:20px;font-size:20px;}
#tdsgin{ margin-left:50px;margin-top:5px;font-size:20px}
#pagewrap {
/*margin-right:96px;
margin-left:98px;*/
width:1042px;
/*height:100%;
min-height:100%; */
background-color:#BEA;
/*padding-left: 0px;*/
margin: 0 auto;
overflow: hidden;
}

div#rregister {
    border: 2px, solid;
    margin-top:40px;
    margin-bottom:5px;
   }
blockquote { margin-top:3px;font-size:20px;margin-bottom:3px;}
form#register.input#passwd {
      float:right;
     }
div.pic, #pagewrap { 
background: maroon; 
/*position: relative; */
border-radius: 8px; 
-moz-border-radius: 8px; 
box-shadow: #666 5px 5px 5px; 
-moz-box-shadow: #666 5px 5px 5px; 
-webkit-box-shadow: #666 5px 5px 5px; 
}

#right-down {
     margin-top:1px;
     padding-top:3px;
     }
.T_before_o { margin-right: -0.15em; display: inline-block; }
#foot-contact {
     margin-top:20px;
     float:left;
     width:320px;
     }

#foot-copyright {
     margin-top:20px;
     padding-top:10px;
     float:left;
     width:400px;
     }
#foot-popular {
     margin-top:20px;
     float:left;
     width:300px;
     }
p#article {
          font-size:20px;
          padding:3px;
          margin-top:8px;
		  color: 7B68EE;
		  text-shadow:0px -1px 0px rgba(000,000,000,0.4), 0px 1px 0px rgba(255,255,255,0.3);
}
p#main-article {
          font-size:30px;
          padding:3px;
          margin-top:8px;
		  color:20B2AA;
          text-shadow:0px -1px 0px rgba(100,010,000,0.4), 0px 1px 0px rgba(255,255,255,0.3);
}



form#register {
    margin-top:30px;
   }
#right-down{
          border-style:solid;
          border-width:1.9px;
    background: -moz-linear-gradient(top, #DE4 0%, #DE4123);
    background: -webkit-gradient(linear, left top, left bottom, from(#DE4),to(#DB3945));
 border-radius: 8px; 
-moz-border-radius: 8px; 
box-shadow: #666 5px 5px 5px; 
-moz-box-shadow: #666 5px 5px 5px; 
-webkit-box-shadow: #666 5px 5px 5px; 


}
.list-text {
    font-size: 19px;
    margin-top:0px;
    margin-bottom:0px;
    border-style: dotted;
    border-width:0.5px; 
    border-bottom-width: 2px;
    background: #ddd;
    padding:4px;
    color:yellow;
    }


#sector-list {
    margin-top: 200px;
    }
hr { width: 200px; margin-left:5px; margin-top:0px;margin-bottom:0px;}

div#onelove {
        border-style: solid dotted dashed bottom;
        border-width:0.5px; 


